{ BasedOnStyle: "LLVM", 
IndentWidth: 2, 
UseTab: Never, 
TabWidth: 2, 
AlignConsecutiveAssignments: false, 
PointerAlignment: Left, 
AlignTrailingComments: false, 
AlignOperands: true, 
AllowShortIfStatementsOnASingleLine: true,
AllowShortLoopsOnASingleLine: true, 
AllowShortBlocksOnASingleLine: true, 
SortIncludes: true, 
ColumnLimit: 80, 
Cpp11BracedListStyle: true, 
AllowShortLambdasOnASingleLine: true,
AllowShortFunctionsOnASingleLine: true  }