src/cmakefiles
src/.idea
src/Testing/Temporary/LastTest.log
critcol.pdf
instances/
src/cmake-build-debug
src/chaincolor
src/etd.cbp
src/main.cpp.old
src/cmake_install.cmake
src/CMakeCache.txt
src/Makefile
